.moosic-page {
    background-color: #eeeeee; /* light gray */
    min-height: 100vh;
    padding: 40px;
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
  }
  
 .moosic-body{
  background-color: #eeeeee; /* light gray */

 } 
  .moosic-page h1 {
    color: #333;
  }
  
  .moosic-page p {
    color: #555;
  }
  